.text{
    background-color: rgb(115, 159, 242) ;
    border: 4px solid red;
    border-radius: 25px;
    text-align: center;
}
.i{
    color: brown;
}
.h1{
    background-color: rgb(242, 214, 58);
    text-align: center;
}
.hayvon{
    background-color: rgb(235, 225, 73);
    text-align: center;
}
iframe{
   margin-left: 200px;
}
textarea{
    width: 350px;
    height: 200pxpx;
}
p{
    color: rgb(5, 53, 5);
}
.text2{
background-color: black;
color: white;
}
table{
    width: 900px;
}
button{
    color: rgb(241, 243, 246);
    width: 150px;
    background-color: cornflowerblue;
}
.toliq{
    background-color: yellow;
    color: green;
    text-align: center;
    }